#intro-title{
  position:absolute;
  font-size:2em;
  z-index:2;
  color:white;
  -webkit-animation: intro-in 4s ease; /* Chrome, Safari, Opera */
  animation: intro-in 2s ease;
}
@-webkit-keyframes intro-in{
  0% {opacity: 0; top: 50vh; left: 0vw; transform: translate(-50%, -50%);}
  50% {opacity: 1; top: 50vh; left: 50vw; transform: translate(-50%, -50%);} 
  100% {opacity: 0; top: 50vh; left: 0vw; transform: translate(-50%, -50%);} 
}
@keyframes intro-in{
  0% {opacity: 0; top: 50vh; left: 0vw; transform: translate(-50%, -50%);}
  50% {opacity: 1; top: 50vh; left: 50vw; transform: translate(-50%, -50%);} 
  100% {opacity: 0; top: 50vh; left: 0vw; transform: translate(-50%, -50%);} 
}
.top-curtain{
  top:0px;
  left:0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index:1;
  clip: rect(0, 100vw, 50vh, 0)
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Firefox 3.6 to 15 */
  -webkit-animation-name: curtain-rolling-up; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: curtain-rolling-up;
  animation-duration: 4s;
  animation-delay: 4s;
}
.bottom-curtain{
  top:0;
  left:0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index:1;
  clip: rect(50vh, 100vw, 100vh, 0);
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Firefox 3.6 to 15 */
  -webkit-animation-name: curtain-rolling-down; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: curtain-rolling-down;
  animation-duration: 4s;
  animation-delay: 4s;
}
@-webkit-keyframes curtain-rolling-up{
  0% {top:0; clip: rect(0, 100vw, 50vh, 0);}
  100% {top:-50vh; clip: rect(0, 100vw, 0, 0);}
}
@keyframes curtain-rolling-up{
  0% {top:0; clip: rect(0, 100vw, 50vh, 0);}
  100% {top:-50vh; clip: rect(0, 100vw, 0, 0);}
}
@-webkit-keyframes curtain-rolling-down{
  0% {top:0; clip: rect(50vh, 100vw, 100vh, 0);}
  100% {top:50vh; clip: rect(100vh, 100vw, 100vh, 0);}
}
@keyframes curtain-rolling-down{
  0% {top:0; clip: rect(50vh, 100vw, 100vh, 0);}
  100% {top:50vh; clip: rect(100vh, 100vw, 100vh, 0);}
}
