/*********************PRODUCTS*********************/
#products{
	background: lightgray;
	pading: 0;
	margin: 0;
}
@media only screen and (max-width : 767px) {
	.metro-line{
		padding: 10px 0px;
		margin: 0 auto;
		width: 360px;
	}
	.metro-vertical-tiles-wrapper{
		position: relative;
	}
	.metro-two-horizontal-tiles-wrapper{
	}
	.metro-tile{
		position:relative;
		margin: 10px 0;
		height: 360px;
		width: 360px;
	}
	.metro-tile1{
        vertical-align: top;
		background-color: red;
	}
	.metro-tile2{
		width: 100%;
		background-color: orange;
	}
	.metro-tile3{
		width: 100%;
		background-color: yellow;
	}
}
@media only screen and (min-width : 768px) {
	.metro-line{
		padding: 20px 0px;
		margin: 0 auto;
		max-width: 768px;
	}
	.metro-vertical-tiles-wrapper{
		display: inline-block;
		position: relative;
		width: 360px;
	}
	.metro-two-horizontal-tiles-wrapper{
		width: 360px;
	}
	.metro-tile{
		position:relative;
		margin: 0 10px;
		height: 360px;
		width: 360px;
	}
	.metro-tile1{
        vertical-align: top;
		background-color: red;
	}
	.metro-tile2{
		width: 100%;
		background-color: orange;
	}
	.metro-tile3{
		margin-top: 20px;
		width: 100%;
		background-color: yellow;
	}
}
@media only screen and (min-width : 1000px) {
	.metro-line{
		padding: 20px 0px;
		height: 600px;
		margin: 0 auto;
		max-width: 1000px;
	}
	.metro-vertical-tiles-wrapper{
		display: inline-block;
		position: relative;
		width: 333px;
		
	}
	.metro-two-horizontal-tiles-wrapper{
		width: 600px;
	}
	.metro-tile{
		position:relative;
		margin: 0 10px;
		box-shadow: 5px 5px 5px #888888;
		cursor: pointer;
	}
	.metro-tile1{
		height: 100%;
		background-image: url('../imgs/neurobranch-logo-new.png'), linear-gradient(#FCFBE3, #D9987C);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
		background-color: #D9987C;
	}
	.metro-tile2{
		height: 270px;
		width: 100%;
		background-image: url('../imgs/drinktracker-logo-new.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
		background-color: #FF9700;
	}
	.metro-tile3{
		margin-top: 20px;
		height: 270px;
		width: 100%;
		background-image: url('../imgs/iompar-logo-new.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
		background-color: #58CC5D;
	}
}
/*********************END OF PRODUCTS*********************/