body{
	margin: 0;
	padding: 0;
}
.main-region{
	width: 100%;
	margin: 0;
	padding: 0;
}
#intro{
	height: 100vh;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(20,160,205), rgb(15,100,165)); /* For Firefox 3.6 to 15 */
}

/*********************MENU*********************/

/*MENU BOXES*/
#menu-wrapper{
	position:absolute; 
	top:50vh;
	left:50vw;
	width:1200px; /* 4*300px */
	height:400px; /* 300px + 1/3*300px */
    margin: 0;
    padding: 0;
	transform: translate(-50%, -50%);
}
.menu-box{
	position:absolute;
	top: 62.5%;
	left: 50%;
}
.menu-box1{transform: translate(-50%, -50%); z-index:5;}
.menu-box2{transform: translate(-100%, -66.66%); z-index:4;}
.menu-box3{transform: translate(0, -66.66%); z-index:4;}
.menu-box4{transform: translate(-50%, -83.4%); z-index:3;}
.menu-box5{transform: translate(-150%, -83.4%); z-index:3;}
.menu-box6{transform: translate(50%, -83.4%); z-index:3;}
.menu-box7{transform: translate(-200%, -66.66%); z-index:4;}
.menu-box8{transform: translate(100%, -66.6%); z-index:4;}
.show-menu-box1{
	transform: translate(-50%, -50%);
}
.show-menu-box2{
	transform: translate(-100%, 0%);
    -webkit-animation-name: anim-show-menu-box2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box2;
    animation-duration: 2s;
}
.show-menu-box3{
	transform: translate(0, 0%); 
    -webkit-animation-name: anim-show-menu-box3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box3;
    animation-duration: 2s;
}
.show-menu-box4{
	transform: translate(-50%, -150%);
    -webkit-animation-name: anim-show-menu-box4; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box4;
    animation-duration: 2s;
}
.show-menu-box5{
	transform: translate(-150%, -117%);
    -webkit-animation-name: anim-show-menu-box5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box5;
    animation-duration: 2s;
}
.show-menu-box6{
	transform: translate(50%, -117%);
    -webkit-animation-name: anim-show-menu-box6; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box6;
    animation-duration: 2s;
}
.show-menu-box7{
	transform: translate(-200%, -66.66%);
}
.show-menu-box8{
	transform: translate(100%, -66.6%); 
}
.hide-menu-box1{
	transform: translate(-50%, -50%);
}
.hide-menu-box2{
	transform: translate(-100%, -66.66%); 
    -webkit-animation-name: anim-show-menu-box2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box2;
    animation-duration: 2s;
    animation-direction: reverse;
}
.hide-menu-box3{
	transform: translate(0, -66.66%); 
    -webkit-animation-name: anim-show-menu-box3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box3;
    animation-duration: 2s;
    animation-direction: reverse;
}
.hide-menu-box4{
	transform: translate(-50%, -83.4%); 
    -webkit-animation-name: anim-show-menu-box4; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box4;
    animation-duration: 2s;
    animation-direction: reverse;
}
.hide-menu-box5{
	transform: translate(-150%, -83.4%); 
    -webkit-animation-name: anim-show-menu-box5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box5;
    animation-duration: 2s;
    animation-direction: reverse;
}
.hide-menu-box6{
	transform: translate(50%, -83.4%); 
    -webkit-animation-name: anim-show-menu-box6; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-name: anim-show-menu-box6;
    animation-duration: 2s;
    animation-direction: reverse;
}
.hide-menu-box7{
	transform: translate(-200%, -66.66%); 
}
.hide-menu-box8{
	transform: translate(100%, -66.6%); 
}
@keyframes anim-show-menu-box2{
	0% {transform: translate(-100%, -66.66%);}
	100% {transform: translate(-100%, 0);}
}@-webkit-keyframes anim-show-menu-box2{
	0% {transform: translate(-100%, -66.66%);}
	100% {transform: translate(-100%, 0);}
}
@keyframes anim-show-menu-box3{
	0% {transform: translate(0, -66.66%);}
	100% {transform: translate(0, 0);}
}@-webkit-keyframes anim-show-menu-box3{
	0% {transform: translate(0, -66.66%);}
	100% {transform: translate(0, 0);}
}
@keyframes anim-show-menu-box4{
	0% {transform: translate(-50%, -83.4%);}
	100% {transform: translate(-50%, -150%);}
}@-webkit-keyframes anim-show-menu-box4{
	0% {transform: translate(-50%, -83.4%);}
	100% {transform: translate(-50%, -150%);}
}
@keyframes anim-show-menu-box5{
	0% {transform: translate(-150%, -83.4%);}
	100% {transform: translate(-150%, -117%);}
}@-webkit-keyframes anim-show-menu-box5{
	0% {transform: translate(-150%, -83.4%);}
	100% {transform: translate(-150%, -117%);}
}
@keyframes anim-show-menu-box6{
	0% {transform: translate(50%, -83.4%);}
	100% {transform: translate(50%, -117%);}
}@-webkit-keyframes anim-show-menu-box6{
	0% {transform: translate(50%, -83.4%);}
	100% {transform: translate(50%, -117%);}
}

/*MENU LABELS*/
.menu-item{
  position: absolute;
  transform-origin: 50% 50%;
  z-index: 3;
  font-size: 30px;
}

.hide-menu-item-middle-right{
  top: 43.75%;
  left: 56.25%;
  transform: translate(-50%, -50%) rotate(-17deg) skewX(-17deg);
}.hide-menu-item-middle-right.slide-down{
  -webkit-animation-name: anim-show-menu-item-middle-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-middle-right;
  animation-duration: 2s;
  animation-direction: reverse;
}
.hide-menu-item-middle-left{
  top: 43.75%;
  left: 43.75%;
  transform: translate(-50%, -50%) rotate(17deg) skewX(17deg);
}.hide-menu-item-middle-left.slide-down{
  -webkit-animation-name: anim-show-menu-item-middle-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-middle-left;
  animation-duration: 2s;
  animation-direction: reverse;
}
.hide-menu-item-east-right{
  top: 43.75%;
  left: 81.25%;
  transform: translate(-50%, -50%) rotate(-17deg) skewX(-17deg);
}.hide-menu-item-east-right.slide-down{
  -webkit-animation-name: anim-show-menu-item-east-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-east-right;
  animation-duration: 2s;
  animation-direction: reverse;
}
.hide-menu-item-east-left{
  top: 43.75%;
  left: 68.75%;
  transform: translate(-50%, -50%) rotate(17deg) skewX(17deg);
}.hide-menu-item-east-left.slide-down{
  -webkit-animation-name: anim-show-menu-item-east-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-east-left;
  animation-duration: 2s;
  animation-direction: reverse;
}
.hide-menu-item-west-right{
  top: 43.75%;
  left: 31.25%;
  transform: translate(-50%, -50%) rotate(-17deg) skewX(-17deg);
}.hide-menu-item-west-right.slide-down{
  -webkit-animation-name: anim-show-menu-item-west-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-west-right;
  animation-duration: 2s;
  animation-direction: reverse;
}
.hide-menu-item-west-left{
  top: 43.75%;
  left: 18.75%;
  transform: translate(-50%, -50%) rotate(17deg) skewX(17deg);
}.hide-menu-item-west-left.slide-down{
  -webkit-animation-name: anim-show-menu-item-west-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-west-left;
  animation-duration: 2s;
  animation-direction: reverse;
}

.show-menu-item-middle-right{
  top: -6.25%;
  left: 56.25%;
  transform: translate(-50%, -50%) rotate(-17deg) skewX(-17deg);
}.show-menu-item-middle-right.slide-up{
  -webkit-animation-name: anim-show-menu-item-middle-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-middle-right;
  animation-duration: 2s;
}
.show-menu-item-middle-left{
  top: -6.25%;
  left: 43.75%;
  transform: translate(-50%, -50%) rotate(17deg) skewX(17deg);
}.show-menu-item-middle-left.slide-up{
  -webkit-animation-name: anim-show-menu-item-middle-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-middle-left;
  animation-duration: 2s;
}
.show-menu-item-east-right{
  top: 18.75%;
  left: 81.25%;
  transform: translate(-50%, -50%) rotate(-17deg) skewX(-17deg);
}.show-menu-item-east-right.slide-up{
  -webkit-animation-name: anim-show-menu-item-east-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-east-right;
  animation-duration: 2s;
}
.show-menu-item-east-left{
  top: 18.75%;
  left: 68.75%;
  transform: translate(-50%, -50%) rotate(17deg) skewX(17deg);
}.show-menu-item-east-left.slide-up{
  -webkit-animation-name: anim-show-menu-item-east-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-east-left;
  animation-duration: 2s;
}
.show-menu-item-west-right{
  top: 18.75%;
  left: 31.25%;
  transform: translate(-50%, -50%) rotate(-17deg) skewX(-17deg);
}.show-menu-item-west-right.slide-up{
  -webkit-animation-name: anim-show-menu-item-west-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-west-right;
  animation-duration: 2s;
}
.show-menu-item-west-left{
  top: 18.75%;
  left: 18.75%;
  transform: translate(-50%, -50%) rotate(17deg) skewX(17deg);
}.show-menu-item-west-left.slide-up{
  -webkit-animation-name: anim-show-menu-item-west-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: anim-show-menu-item-west-left;
  animation-duration: 2s;
}

@-webkit-keyframes anim-show-menu-item-middle-right{
	0% {top: 43.75%;left: 56.25%;}
	100% {top: -6.25%;left: 56.25%;}
}
@keyframes anim-show-menu-item-middle-right{
	0% {top: 43.75%;left: 56.25%;}
	100% {top: -6.25%;left: 56.25%;}
}
@-webkit-keyframes anim-show-menu-item-middle-left{
	0% {top: 43.75%;left: 43.75%;}
	100% {top: -6.25%;left: 43.75%;}
}
@keyframes anim-show-menu-item-middle-left{
	0% {top: 43.75%;left: 43.75%;}
	100% {top: -6.25%;left: 43.75%;}
}
@-webkit-keyframes anim-show-menu-item-west-right{
	0% {top: 43.75%;left: 31.25%;}
	100% {top: 18.75%;left: 31.25%;}
}
@keyframes anim-show-menu-item-west-right{
	0% {top: 43.75%;left: 31.25%;}
	100% {top: 18.75%;left: 31.25%;}
}
@-webkit-keyframes anim-show-menu-item-west-left{
	0% {top: 43.75%;left: 18.75%;}
	100% {top: 18.75%;left: 18.75%;}
}
@keyframes anim-show-menu-item-west-left{
	0% {top: 43.75%;left: 18.75%;}
	100% {top: 18.75%;left: 18.75%;}
}
@-webkit-keyframes anim-show-menu-item-east-right{
	0% {top: 43.75%;left: 81.25%;}
	100% {top: 18.75%;left: 81.25%;}
}
@keyframes anim-show-menu-item-east-right{
	0% {top: 43.75%;left: 81.25%;}
	100% {top: 18.75%;left: 81.25%;}
}
@-webkit-keyframes anim-show-menu-item-east-left{
	0% {top: 43.75%;left: 68.75%;}
	100% {top: 18.75%;left: 68.75%;}
}@keyframes anim-show-menu-item-east-left{
	0% {top: 43.75%;left: 68.75%;}
	100% {top: 18.75%;left: 68.75%;}
}
/*********************END OF MENU*********************/


/*********************PRODUCTS*********************/
@media only screen and (max-width : 767px) {
	
}
@media only screen and (min-width : 768px) {
	#products{
		background: green;
		pading: 0;
		margin: 0;
	}
	.metro-line{
		padding: 20px 0px;
		margin: 0 auto;
		max-width: 768px;
	}
	.metro-vertical-tiles-wrapper{
		display: inline-block;
		position: relative;
		width: 360px;
	}
	.metro-two-horizontal-tiles-wrapper{
		width: 360px;
	}
	.metro-tile{
		position:relative;
		margin: 0 10px;
		height: 360px;
		width: 360px;
	}
	.metro-tile1{
		background-color: red;
	}
	.metro-tile2{
		width: 100%;
		background-color: orange;
	}
	.metro-tile3{
		margin-top: 20px;
		width: 100%;
		background-color: yellow;
	}
}
@media only screen and (min-width : 1000px) {
	#products{
		background: green;
		pading: 0;
		margin: 0;
	}
	.metro-line{
		padding: 20px 0px;
		height: 600px;
		margin: 0 auto;
		max-width: 1000px;
	}
	.metro-vertical-tiles-wrapper{
		display: inline-block;
		position: relative;
		width: 333px;
		
	}
	.metro-two-horizontal-tiles-wrapper{
		width: 600px;
	}
	.metro-tile{
		position:relative;
		margin: 0 10px;
	}
	.metro-tile1{
		height: 100%;
		background-color: red;
	}
	.metro-tile2{
		height: 290px;
		width: 100%;
		background-color: orange;
	}
	.metro-tile3{
		margin-top: 20px;
		height: 290px;
		width: 100%;
		background-color: yellow;
	}
}
/*********************END OF PRODUCTS*********************/

/*********************ABOUT*********************/
#about{
	height: 100vh;
    background: blue;
}
/*********************END OF ABOUT*********************/

/*********************CONTACT*********************/
#contact{
	height: 100vh;
    background: orange;
}
/*********************END OF CONTACT*********************/

/*********************FOOTER*********************/
footer{
    background: purple;
    height: 33vh;
    width: 100%;
}
/*********************END OF FOOTER*********************/
